<!-- Renders post date, title, and snippet of text. -->
<div class="py-2 mb-2 prose">
  <a class="no-underline h5 bold text-accent" title="{{ post.url | prepend: site.baseurl }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}</a>
  <h2 class="h1 lh-condensed col-9 mt-0">
    <a class="link-primary" title="{{ post.url | prepend: site.baseurl }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}
  </h2>
  {% if post.tags %}
  <h6>Tags: {{post.tags}}</h6>
  {% endif %}
  <div>
    {% if post.img %}
      <img src="{{site.baseurl}}/assets/images/{{post.img}}" alt="Image preview", class = "preview-img">
      <p class="preview-text">{{ post.content | strip_html | truncatewords:25 }}</p>

    {% else %}
      <p>{{ post.content | strip_html | truncatewords:25 }}</p>

    {% endif %}
    <hr>
  </div>
  </a>
</div>
